@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-DIGIT.TTF") format("truetype");
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "DS-Digital", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #000;
  color: red;
}

main{
 height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.clock {
 display: flex;
 align-items: center;
 padding: 30px;
  border: 35px solid rgb(148, 145, 145);
  width: 650px;
  position: absolute;
}

h1{
    font-size: 200px;
}

.colon{
    margin-bottom: 30px;
    font-size: 150px;
    
}


h3{
    margin-top: 70px;
    font-size: 80px;
}

h5{
    margin-top: 100px;
    font-size: 20px;
}

.apm{
    position: absolute;
    right: 5px;
}

.made{
    position: absolute;
    bottom: 200px;
    left: 950px;
    color: rgb(55, 186, 242);
}

